* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
}

.header_left {
    float: left;
    width: 25%;
}

.header_right {
    float: right;
    width: 75%;
}

hr {
    clear: both;
}

.skill_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.skill_ul {
    margin: 10px;
}

.skill_ul h4 {
    text-align: center;
}

.skill_ul ul {
    margin: 10px;
    padding: 5px;
}

.skill_ul hr {
    border: 1px solid gray;
}

/* 桌上型電腦 > 1024px */ 

/* 平板電腦 720~1024px */
/* 手機 320~720px */
@media screen and (max-width: 720px) {
    header .header_left {
        width: 90%;
        float: none;
    }
    
    header .header_right {
        width: 90%;
        float: none;
    }
}